extends layout

block content
	script(src='/web/javascripts/jquery.min.js')
	script(src='/web/javascripts/bootstrap.min.js')
	link(rel='stylesheet', href='/web/stylesheets/register.css')
	
	if authorized
		if formData.displayName !== undefined
			p(style='white-space:pre;')
				| Account successfully made
				| Username: #{formData.displayName}
				| UserID: #{recentID}
		else
			| You already have an account
	else
		.container
			.row
				.col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
					form(action="/register", method="post")
						h2
							| Register
							small 	Official Unofficial TPT Server
						.row
							.col-xs-12.col-sm-6.col-md-6
								.form-group
									input#firstName.form-control.input-lg(type='text', name='firstName', placeholder='First Name', tabindex='1', required)
							.col-xs-12.col-sm-6.col-md-6
								.form-group
									input#lastName.form-control.input-lg(type='text', name='lastName', placeholder='Last Name', tabindex='2' required)
						.form-group
							input#display_name.form-control.input-lg(type='text', name='displayName', placeholder='Display Name', tabindex='3', required)
						.form-group
							input#email.form-control.input-lg(type='email', name='email', placeholder='Email Address', tabindex='4', required)
						.form-group
							input#website.form-control.input-lg(type='text', name='website', placeholder='Website', tabindex='5')
						.row
							.col-xs-12.col-sm-3.col-md-3
								.form-group
									input#age.form-control.input-lg(type='number',min='0', max='99' name='age', placeholder='Age', tabindex='6' required)
							.col-xs-12.col-sm-9.col-md-9
								.form-group
									input#location.form-control.input-lg(type='text', name='location', placeholder='Location', tabindex='6')
						.form-group
							textarea#biography.form-control.input-lg(name='biography', placeholder='Biography', tabindex='7')
						.row
							.col-xs-12.col-sm-6.col-md-6
								.form-group
									input#password.form-control.input-lg(type='password', name='password', placeholder='Password', tabindex='8', required)
							.col-xs-12.col-sm-6.col-md-6
								.form-group
									input#passwordConfirmation.form-control.input-lg(type='password', name='passwordConfirmation', placeholder='Confirm Password', tabindex='8', required)
						if error !== undefined
							.form-group
								.alert.alert-danger(role='alert')
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
									span.sr-only Error:
									|	#{error}
						.row
							.col-xs-12.col-md-12
								input.btn.btn-primary.btn-block.btn-lg(type='submit', value='Register', tabindex='9')
